h1 {
    color: green
}
.empire {
 width: 200px;
 length: 200px;
 display: flex;
 border: dotted green;
 
}


.laura {
    border: 10px solid seagreen;
    width: fit-content;
    background-color: seagreen;
    padding: 5%;
}
.kristen {
    border: solid;
    border-color:blue
}
.riley {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 50px groove rgb(173, 0, 253);
    background-color: darksalmon;
    margin: 5em;
}