h1 {
    color: green
}
.empire {
 width: 200px;
 length: 200px;
 display: flex;
}


.laura {
    border: 10px solid seagreen;
    width: fit-content;
    background-color: seagreen;
    padding: 5%;
}
.kristen {
    border: solid;
    border-color:blue
}
.riley {
    display: flex;
    flex-direction: column;
    text-align: center;
}